<main *ngIf="$isLogged() | async; else notLogged" [class.main-is-mobile]="mobileQuery.matches">
    
    <header>
        <img src="/assets/logo_p6.png" alt="logo" />
        <button type="button" mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
            <mat-icon>menu</mat-icon>
        </button>
        <nav *ngIf="!mobileQuery.matches">
            <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
            <app-nav-link link="">Articles</app-nav-link>
            <app-nav-link link="/topics">Thèmes</app-nav-link>
            <app-nav-link link="/me" class="account-link">
                <div class="account-icon">
                    <mat-icon>person</mat-icon>
                </div>
            </app-nav-link>
        </nav>
    </header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" position="end">
    
            <nav>
                <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
                <app-nav-link link="">Articles</app-nav-link>
                <app-nav-link link="/topics">Thèmes</app-nav-link>
                <app-nav-link link="/me" class="account-link">
                    <div class="account-icon">
                        <mat-icon>person</mat-icon>
                    </div>
                </app-nav-link>
            </nav>
        </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>
</main>
<ng-template #notLogged>
    <router-outlet></router-outlet>
</ng-template>

