/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input, textarea, select, option {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.mat-card {
    box-shadow: none!important;
    overflow: hidden;
    background-color: #F5F5F5;
    .mat-card-header {
        display: block;
    }
    .mat-card-subtitle {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
    }
    .mat-card-header-text {
        margin: 0;
    }

    .mat-card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        & button {
            width: 100%;
            max-width: 150px;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.container-with-button-back {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.align-self-start {
    align-self: start;
}
